@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

*{
    font-family: 'Roboto';
    font-weight: normal;
}

body{
    margin:0;
}

.navbar1{
    background-color:#1F2937;
}

.logo,
.navbar4 h1 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-right: 20px;
}

.container1 {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.container1 ul{
    margin-left: 470px;
}

.container2 {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 200px;
    padding-bottom: 150px;
}

.container2 h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.container2 button{
    background-color: #3882F6;
    color: #F9FAF8;
    border:none;
    display: inline-block;
    width: 120px;
    height: 35px;
    border-radius: 8px;
    font-size: 18px;
}

.container2 h2 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.texts{
    width: 450px;
    margin-right: 100px;
}

.texts h1 {
    margin-bottom: 5px;
}

.texts h2 {
    margin-top: 0px;
}

.placeholder {
    background-color: rgb(124, 128, 130);
    height:250px;
    width:550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}

.placeholder h2 {
    background-color: rgb(124, 128, 130);
    font-weight:normal;
}

.navbar2{
    background-color: white;
    margin-bottom: 100px;
}

.information{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align:center;
}

.boxes{
    display: flex;
    justify-content: center;
}

.box{
    border-radius: 8px;
    margin-right: 50px;
    width: 120px;
    height: 120px;  
    border: solid 3px #3882F6;
}

.navbar2 h2 {
    font-size: 18px;
    font-weight: normal;
    color:rgb(124, 128, 130);
    width: 200px;
}

.subtext{
    display: flex;
    justify-content: center;
}

.navbar3{
    background-color:#E5E7EB;
    height: 450px;
}

.quote{
    padding: 130px 300px 0px 300px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.navbar3 h3{
    color: #1F2937;
    font-size: 23px;
    font-weight: bold;
    padding-left: 900px;
}

.actionBox{
    height: 150px;
    margin: 90px 200px 90px 200px;
    background-color: #3882F6;
    border-radius: 8px;
}

.actionElements{
    display: flex;
    justify-content: space-around;
}

.navbar4 h1{
    margin-top: 50px;
    margin-bottom: 0px;
}

.navbar4 h2 {
    margin-top: 0px;
    color: rgb(229, 231, 235);
    font-size: 18px;
}

.navbar4 button{
    margin-top: 58px;
    background-color: #3882F6;
    border: solid 2px white;
    color: #F9FAF8;
    width: 120px;
    height: 35px;
    border-radius: 8px;
    font-size: 18px;
}

.navbar5{
    background-color: #1F2937;
    height: 100px;
}

.navbar5 h1 {
    font-size: 18px;
    color: white;
    text-align:center;
    padding-top: 30px;
}







